body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: #1a344c;
    /*background-image: linear-gradient(90deg, #194d33, #1a344c);*/
}

footer{
	color: white;
}

.principal{

	background-color: #FFFFFF;
}

.principal1coluna{
    background-color: #FFFFFF;
    padding: 15px 15px 15px 15px;
}

.menulateral{
	color: white;
	background-color: #CCCCCC;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width:280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.label-pesquisa{
    color:white;
}

.cabecalho-tabela{
    background-color: #669999;
}

.margem-zero{
    padding-left: 0px; 
    padding-right: 0px;
}

.cursor-hover{
    cursor:pointer;
}

.opcionais {
    padding: 10px 15px 10px 15px;
    background-color: #d9d9d9;
    /*background-image: linear-gradient(90deg, #f2f2f2 , #d9d9d9);*/
    color: #595959;
}

.gridRodape{
    padding: 10px 15px 10px 15px;
    background-color: #f2f2f2;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #d9d9d9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d9d9d9;
    text-align: right;
    color: #595959;
}

.gridRodape p{
    margin: 0 0 0 0;
}

.details {
    background-color: #f2f2f2;
    padding: 20px 20px 20px 20px;
}